
*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
    background: var(--white);
    color: var(--black);
    margin: 0;
}

:root {
    --black: #000;
    --white: #FFF;
}

img {
    display: block;
    height: auto;
}

html {
    scroll-behavior: smooth;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none
}

ul {
    list-style: none;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


a {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.logo {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}

ul.header-list {
    display: none;
}

.header-inner {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.logo {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.bold-logo {
    font-weight: 800;
}


.hero {
    background-image: linear-gradient(90deg, rgba(54, 137, 187, 0.79) 0%, #2F5FA5 100%), url('../images/new-car-dashboard.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 44px 0;
    flex-direction: column;
}

.hero-title {
    font-size: 30px;
    font-weight: 800;
    color: #FFF;
    margin: 0 auto 17px auto;
    width: 291px;
    text-align: center;
}


li.hero-list-item {
    color: #FFF;
    display: flex;
    gap: 14px;
    margin: 0 0 12px 0;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.84px;
}

ul.hero-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
}
img.hero-img {
    width: 280px;
}
.product-img {
    margin: 0;
    width: 204px;
}

.hero-product-sale {
    background-color: #FFE51B;
    border-radius: 50%;
    padding: 27px 14px;
    width: 97px;
    height: 97px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.hero-product-value {
    font-size: 26px;
    font-weight: 800;
}


.hero-product {
    position: relative;
    margin: 20px 0;
}

.hero-product-sale {
    position: absolute;
    top: 0;
    left: 157px;
}

.hero-title-d {
    display: none;
}


.form-inner {
    padding: 10px;
    background-color: #fff;
    width: 280px;
    height: 100%;
    /*margin: 0 0 0 50px;*/
}

.form-price-inner {
    width: 147px;
    font-size: 10px;
}


.form-price {
    border: 1px solid #3F7DC1;
    padding: 12px 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 22px;
}

.red {
    color: #DE292D;
}

.form-total {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.63px;
}

.price {
    color: #DE292D;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.08px;
}


.button {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #DE292D;
    padding: 13px 21px;
    border: none;
}

input.field {
    color: #94B4D7;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.54px;
    border: 1px solid #3F7DC1;
    padding: 7px 16px;
}

.input-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px 0;
    align-items: center;
}

.hero-form-text-bottom {
    background: #EFEFEF;
}

.hero-form-text {
    color: #000;
    font-size: 12px;
    font-weight: 400;text-align: left;
}

.hero-form-text-bottom {
    display: flex;
    align-items: center;
    padding: 20px 0 0 0;
}
label {
    font-size: 12px;
}


section.benefits {
    padding: 110px 0 45px 0;
    background: #EFEFEF;
}

ul.benefits-list {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.benefits-list-img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    border: 4px solid #3060A5;
    border-radius: 50%;
    padding: 29px;
}

li.benefits-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 203px;
}

.information-list-item-img-1 {
    height: 400px;
    width: 500px;
    position: absolute;
    bottom: 100px;
}


ul.information-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px 40px;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
}

img.information-list-item-img {
    width: 280px;
    height: 280px;
    margin: auto;
}

h2.information-title {
    color: #000;
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
}

.information {
    text-align: center;
    padding: 45px 0;
}

.information-descr {
    width: 80%;
    margin: 14px auto;
    font-size: 14px;
}

li.information-list-item {
    width: 100%;
}


h3.information-list-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.information-list-item > p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.information-product-img {
    width: 358px;
    height: 368px;
    margin: auto;
}

.information-product {
    position: relative;
}

.information-product-sale {
    position: absolute;
    top: 38px;
    right: 33px;
    left: auto;
}

.information-list-stages {
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    width: 280px;
    margin: auto;
    justify-content: center;
}

.information-stage-img {
    margin: 10px 0;
    width: 136px;
    height: 113px;
}

li.information-list-stage-item {
    width: 132px;
    text-align: center;
}

.information-list-item-3 {
    margin: -90px 0 0 0;
}

.information-list-item-4 {
    position: absolute;
    bottom: -65px;
    right: 0;
}


@media screen and (min-width: 991px) {
    .logo {
        /*margin-right: 80px;*/
        font-size: 20px;
        letter-spacing: 0.9px;
        display: flex;
    }

    .hero-title {
        font-size: 30px;
        width: 665px;
    }

    .hero-inner-wrap-d {
        display: flex;
    }

    .form-inner {
        margin: 40px auto 0 auto;
    }

    ul.benefits-list {
        margin: auto;
        width: 500px;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1920px) {
    .header-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin: 17px 0;*/
    }

    .hero-title-mobile {
        display: none;
    }

    .hero-title-d {
        display: block;
        text-align: left;
        font-size: 48px;
    }

    ul.benefits-list {
        width: 100%;
    }

    .hero-product {
        position: absolute;
        margin: auto;
    }

    .form-inner {
        margin: 0 0 0 50px;
    }

    ul.hero-list {
        width: 100%;
    }

    .hero-inner {
        flex-direction: row;
    }

    .hero-inner-wrap-d {
        display: block;
    }

    .logo {
        margin-right: 273px;
        font-size: 20px;
        letter-spacing: 0.9px;
        display: flex;
    }


    ul.header-list {
        display: flex;
        font-size: 12px;
        font-weight: 400;
    }

    .header-icon-svg {
        margin-right: 12px;
    }

    .header-list-item {
        display: flex;
        margin-right: 75px;
        align-items: center;
    }

    .header-list-item-1 {
        width: 120px;
    }

    .header-list-item-2 {
        width: 182px;
    }

    .header-list-item-3 {
        width: 169px;
    }

    .header-list-item:last-child {
        margin: 0;
    }


    .hero {
        background-image: linear-gradient(90deg, rgba(54, 137, 187, 0.79) 0%, #2F5FA5 100%), url(../images/new-car-dashboard.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero-title {
        font-size: 48px;
        font-weight: 800;
        color: #FFF;
        margin: 0 0 40px;
        width: 754px;
    }


    li.hero-list-item {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.96px;
        color: #FFF;
        display: flex;
        gap: 14px;
        margin: 0 0 18px 0;
        align-items: center;
    }


    .hero-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
        padding: 44px 0;
    }

    .hero-inner-wrap {
        display: flex;
    }


    .form-section-field {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        padding: 12px 20px;
        border: none;
        margin: 0 45px 0 0;
    }

    .form-section {
        padding: 36px 0;
        background: linear-gradient(90deg, rgba(54, 137, 187, 0.79) 0%, #2F5FA5 100%);

    }

    .reviews-list {
        display: flex;
        gap: 43px;
        justify-content: center;
        margin-top: 45px;
    }

    .reviews {
        background: #EFEFEF;
        padding: 45px 0;
    }

    .order-item-img {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
        border: 7px solid #3060A5;
        border-radius: 50%;
        margin-right: 22px;
    }

    .order-item-title {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 6px 0;
    }

    .order-list {
        width: 1200px;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 45px auto;
    }

    li.order-list-item {
        display: flex;
        align-items: center;
        width: 448px;
    }

    .footer-descr {
        text-align: center;
        width: 285px;
        margin: 127px auto 19px auto;
    }

    .footer-inner {
        text-align: center;
        margin: 0 auto 55px auto;
    }

    .footer-descr-link {
        margin: 0 auto;
    }

    .form-section-title {
        width: 100%;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    form.hero-form {
        text-align: center;
    }

}